<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainCustomer</title>
    <link href="css/default.css" rel="stylesheet"/>
    <link href="css/mainCustomer.css" rel="stylesheet"/>
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/mainCustomer.js"></script>
</head>
<body>
    <section>
        <div class="header">
            <!-- header content -->
        </div>
    </section>
    <div id="containerFull">
        <hr width="80%">
        <section>
            <div class="nameInquire">
                <form action="/mainCustomer" method="get">
                    <input type="text" id="nickname" name="nickname" placeholder="닉네임">
                    <input type="text" id="storeName" name="storeName" placeholder="가게명">
                    <input type="submit" value="조회" id="nameInquireButton">
                </form>
            </div>
        </section>
        <hr width="80%">
        <section>
            <div class="info">
                <div class="searchedNickname">
                    <% if (nickname && nickname.length > 0) { %>
                        <p>안녕하세요 <%= nickname %> 님. </p>
                    <% } else { %>
                        <p>닉네임과 가게명을 검색해주세요!</p>
                    <% } %>  
                    <% if (storeName && storeName.length > 0) { %>
                        <p><%= storeName %> 가게의 스탬프 개수입니다. </p>
                    <% } else { } %>
                </div>
            </div>
        </section>
        <section>
            <div class="stampContainer">
                <% for (var i = 0; i < stampNumber; i++) { %>
                    <div class="stampImage"></div>
                <% } %>
            </div>
        </section>
        <% if (nickname && nickname.length > 0) { %>
        <hr width="80%">
        <% } else { } %>
    </div>
    <section>
        <div class="footer">
            
        </div>
    </section>
</body>
<script>
    <% if (registerMessage && registerMessage.length > 0) { %>
        console.log("ready to create new user alert");
        var userResponse = confirm("<%= registerMessage %>");
        if (userResponse) {
            console.log("User clicked 'OK', create new user.");
            window.location.href = '/mainCustomer/registerCustomer/?nickname=<%= nickname %>';
        } else {
            console.log("User clicked 'Cancel'.");
            window.location.href = '/mainCustomer'
        }
    <% } %>
    <% if (alertMessage && alertMessage.length > 0) { %>
        alert("<%= alertMessage %>");
    <% } %>
</script>
</html>